[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2 = "*"
flake8 = "*"
coverage = "*"
sentry-sdk = "*"
gunicorn = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.8"
