{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/mystyles.css' %}">

    <title>{% block title %}My CookBook{% endblock title%}</title>
</head>
<body class="font-sans tracking-wide leading-relaxed">
    <div class="mx-auto grid grid-cols-1 grid-rows-6 content-center grid-flow-row">

        <!-- Header -->
        <nav class="flex justify-between justify-self-center flex-wrap bg-white p-5 border border-b-1 border-gray-200 lg:max-w-screen-lg w-full">
            <div class="flex items-center flex-shrink-0 text-black ml-6 mr-8">
                <img class="fill-current h-8 w-8 mr-2" width="54" height="54" src="{% static 'assets/img/chef.svg' %}">
                <span class="font-semibold text-xl tracking-tight border-b-2 border-transparent">My CookBook</span>
            </div>
            <!-- <div class="block lg:hidden">
                <button class="flex items-center px-3 py-2 border rounded text-teal-200 border-teal-400 hover:text-white hover:border-white">
                    <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
                </button>
            </div> -->
            <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
                <div class="font-semibold lg:flex-grow">
                    <a href="{% url 'home' %}" class="block mt-4 lg:inline-block lg:mt-0 border-b-2 border-transparent hover:border-yellow-700 mr-4">Accueil</a>
                </div>
                <div class="mr-8 font-semibold">
                    {% if user.is_authenticated %}
                        <a href="#" class="block mt-4 lg:inline-block lg:mt-0 border-b-2 border-transparent hover:border-yellow-700 mr-4">Mon Compte</a>
                        <a href="{% url 'logout' %}" class="block mt-4 lg:inline-block lg:mt-0 border-b-2 border-transparent hover:border-yellow-700 mr-4">Log Out</a>

                    {% else %}
                        <a href="{% url 'login' %}" class="block mt-4 lg:inline-block lg:mt-0 border-b-2 border-transparent hover:border-yellow-700 mr-4">Log In</a>
                        <a href="{% url 'signup' %}" class="inline-block text-sm text-white px-4 py-2 leading-none border border-gray-700 bg-gray-700 hover:bg-white hover:text-black mt-4 lg:mt-0 uppercase shadow rounded">Inscription</a>

                    {% endif %}
                </div>
            </div>
        </nav>

        <!-- Body --> 
        <div class="row-span-4 justify-self-center w-screen px-10">
            {% block content %}
            {% endblock content %}
        </div>

        <!-- Footer -->
        <footer class="bg-gray-700 w-screen">
            <p>Footer</p>
        </footer>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</body>
</html>