{% extends 'core/_base.html' %}{% load static %}

{% block title %}My CookBook - Accueil{% endblock title %}

{% block content %}
  <div class="grid-cols-12 bg-red w-screen">

    <div class="py-5 w-full flex flex-cols justify-items-center">
      <div class="px-6 mx-auto text-black justify-items-center">
        <h1 class="font-extrabold text-6xl">My CookBook</h1>
        <h2 class="text-4xl font-bold mb-2 text-center">Ne perdez plus vos recettes,<br> organisez vos repas,<br> faites vos courses facilement.</h2>
        <button class="bg-white font-bold rounded py-4 px-8 shadow-lg uppercase tracking-wider justify-self-center">Inscription</button>
      </div>
    </div>

  </div>
{% endblock content %}

