{% extends 'core/_base.html' %}{% load static %}

{% block title %}My CookBook - Mon CookBook{% endblock title %}

{% block content %}
<div class="mx-auto grid-cols-12 w-full mb-10 lg:max-w-screen-lg px-3">

  <h1 class="text-4xl font-semibold text-center mb-5">{{ cookbook.name }}</h1>

<p class="mx-auto text-center"><a href="{% url 'recipe_create' %}" class="inline-block text-sm text-white px-4 py-2 leading-none border border-gray-700 bg-gray-700 hover:bg-white hover:text-black mt-4 lg:mt-0 uppercase shadow rounded">Créer une recette</a></p>

<div class="flex flex-col flex-wrap sm:flex-row my-5">

    {% for recipe in recipes %}


    <div class="flex flex-col p-5 border border-1 border-gray-500 m-4 sm:w-1/3 rounded-xl shadow-md justify-between flex-grow">
      <a href="{% url 'recipe-detail' recipe.id %}">
        <p class="text-2xl font-semibold mb-2">{{ recipe.title|title }}</p>
        <p class="text-center text-sm text-gray-600 my-2 px-3 py-1 border-b-2 border-r-2 border-gray-300 inline-block rounded-br-xl shadow-md">{{ recipe.recipe_type|title }}</p>
        <div class="bg-gray-50 p-2 my-2 flex flex-row flex-wrap shadow">
          <p><img class="fill-current h-5 w-5 m-2" width="20" height="20" src="{% static 'assets/img/users.svg' %}" alt="Nombre de convives" title="Nombre de convives"></p>
          <p class="my-auto mr-3">{{ recipe.guest }}</p>
          <p><img class="fill-current h-5 w-5 m-2" width="20" height="20" src="{% static 'assets/img/timer.svg' %}" alt="Temps de préparation" title="Temps de préparation"></p>
          <p class="my-auto  mr-3">{{ recipe.prep_time }}</p>
          <p class=""><img class="fill-current h-5 w-5 m-2" width="20" height="20" src="{% static 'assets/img/pot.svg' %}" alt="Temps de cuisson" title="Temps de cuisson"></p>
          <p class="my-auto">{{ recipe.cook_time }}</p>
        </div>
      </a>
    </div>


    {% endfor %}
</div>


</div>

{% endblock content %}
