
input, textarea {
    border-bottom: solid 2px #6B7280;
    background-color: #F9FAFB;
}

input:focus, textarea:focus {
    outline: none;
}

.bg-sympa {
    background: linear-gradient(124deg, rgba(45,69,88,1) 49%, rgba(45,69,88,0.9531162806919643) 77%);
}