{% extends 'core/_base.html' %}{% load static %}

{% block title %}My CookBook - Mode Edition{% endblock title %}

{% block content %}
<div class="mx-auto grid-cols-12 w-full mb-10 lg:max-w-screen-lg px-5">
  {% if user == infos.creator %}

  <div class="flex mx-auto"><p class="text-center text-sm mb-2 px-4 py-1 bg-green-200 inline-block mx-auto rounded shadow">{{ recipe.recipe_type }}</p></div>
  <h1 class="text-4xl font-semibold text-center mb-2">{{ recipe.title }}</h1>
  <p class="text-center text-sm mb-5">Une recette de {{ infos.creator }}</p>

  <div class="flex flex-wrap justify-center">
    <div class="flex justify-center mr-3">
      <p><img class="fill-current h-5 w-5 m-2" width="20" height="20" src="{% static 'assets/img/users.svg' %}" alt="Nombre de convives" title="Nombre de convives"></p>
      <p class="my-auto">{{ recipe.guest }}</p>
    </div>
    <div class="flex justify-center mr-3">
      <p><img class="fill-current h-5 w-5 m-2" width="20" height="20" src="{% static 'assets/img/timer.svg' %}" alt="Temps de préparation" title="Temps de préparation"></p>
      <p class="my-auto">{{ recipe.prep_time }}</p>
    </div>
    <div class="flex justify-center mr-3">
      <p class=""><img class="fill-current h-5 w-5 m-2" width="20" height="20" src="{% static 'assets/img/pot.svg' %}" alt="Temps de cuisson" title="Temps de cuisson"></p>
      <p class="my-auto">{{ recipe.cook_time }}</p>
    </div>
  </div>

  <div class="flex flex-col my-5 py-4">

    <div class="mb-4">
      <p class="font-light text-xl mb-4 pb-2 border-0 border-b-2">Description</p>
      {{ recipe.description }}
    </div>

    <p class="mx-auto text-center mb-10">
      <a class="inline-block text-xs text-gray-500 my-4 border border-1 border-gray-200 px-4 py-2 rounded-full shadow-md" href="{% url 'recipe-edit' recipe.id %}">
        <img class="fill-current h-3 w-3 m-2 hidden sm:inline-block" width="20" height="20" src="{% static 'assets/img/edit.svg' %}" alt="Modifier" title="Modifier">
        Editer les informations de la recette
      </a>
    </p>

    <div class="flex flex-col sm:flex-row-reverse">

      <div class="mb-4 cont-ingredient sm:w-1/3 sm:ml-4">
        <p class="font-light text-xl mb-4 pb-2 border-0 border-b-2">Ingrédients</p>
          <div class="flex flex-col">
            {% for ingredient in ingredients %}
              <p class="my-1">
                <a href="{% url 'ingredient-edit' ingredient.id %}" class="mr-2"><img class="fill-current h-3 w-3 m-2 hidden sm:inline-block" width="20" height="20" src="{% static 'assets/img/edit.svg' %}" alt="Modifier" title="Modifier"></a>
                <span class="font-semibold">{{ ingredient.name }}</span> : {{ ingredient.quantity }} {{ ingredient.measure }}  
              </p>
            {% endfor %}
            <p><a class="inline-block text-xs text-gray-500 my-4 border border-1 border-gray-200 px-4 py-2 rounded-full shadow-md" href="{% url 'ingredient-add' recipe.id %}">Ajouter un ingrédient</a></p>
          </div>
      </div>

      <div class="flex-1 mb-4 cont-instruction sm:w-2/3">
        <p class="font-light text-xl mb-4 pb-2 border-0 border-b-2">Instructions :</p>
          <div class="flex flex-col">
            {% for instruction in instructions %}
              <p class="my-2">
                <a href="{% url 'instruction-edit' instruction.id %}" class="mr-2">
                  <img class="fill-current h-3 w-3 hidden sm:inline-block" width="20" height="20" src="{% static 'assets/img/edit.svg' %}" alt="Modifier" title="Modifier">
                </a>
                <span class="font-semibold mr-2">Etape {{ instruction.step }} :</span> {{ instruction.instruction }}
              </p>  
            {% endfor %}          
            <p><a class="inline-block text-xs text-gray-500 my-4 border border-1 border-gray-200 px-4 py-2 rounded-full shadow-md" href="{% url 'instruction-add' recipe.id %}">Ajouter une instruction</a></p>
          </div>
      </div>

    </div>

    <div class="mb-4 cont-tag">
      <p class="font-light text-xl mb-4 pb-2 border-0 border-b-2">Tags :</p>
      <div class="flex flex-col flex-wrap">
        {% for tag in tags %}
          <p class="">
            <a href="{% url 'tag-edit' tag.id %}" class="mr-2">
              <img class="fill-current h-3 w-3 hidden sm:inline-block" width="20" height="20" src="{% static 'assets/img/edit.svg' %}" alt="Modifier" title="Modifier">
            </a>
            <span class="text-gray-500 text-sm mr-2 italic">{{ tag.tagtype }}</span> {{ tag.name }}
          </p>
        {% endfor %}
        <p><a class="inline-block text-xs text-gray-500 my-4 border border-1 border-gray-200 px-4 py-2 rounded-full shadow-md" href="{% url 'tag-add' recipe.id %}">Ajouter un tag</a></p>
      </div>
    </div>

  </div>


  <div class="flex flex-col sm:flex-row">
    <p class="mx-auto text-center mb-5 sm:mb-0"><a href="{% url 'recipe-detail' recipe.id %}" class="inline-block text-sm font-semibold px-4 py-2 leading-none border border-green-400 bg-green-400 hover:bg-white hover:text-black mt-4 lg:mt-0 uppercase shadow rounded-full">Revenir à la recette</a></p>

    <p class="mx-auto text-center"><a href="{% url 'recipe-delete' recipe.id %}" class="inline-block text-sm font-semibold px-4 py-2 leading-none border border-red-400 bg-red-400 hover:bg-white hover:text-black mt-4 lg:mt-0 uppercase shadow rounded-full">Effacer la recette</a></p>
  </div>

  {% else %}

  <p class="text-center text-xl font-semibold">Désolé {{ user.name }}, vous n'avez rien à faire ici, et je pense que vous le savez ;)</p>

  {% endif%}
</div>
{% endblock content %}
