{% extends 'core/_base.html' %}{% load static %}

{% block title %}My CookBook - Créer une Recette{% endblock title %}

{% block content %}
<div class="mx-auto grid-cols-12 w-full mb-10 lg:max-w-screen-lg">

  <h1>Creation</h1>

      <form method="post" action="{% url 'recipe_create' %}">
      {% csrf_token %}

      <p>Recette</p>

      <div class="">
        {{ recipe_form.title.label }}
        {{ recipe_form.title }}
      </div>

      <div class="">
        {{ recipe_form.description.label }}
        {{ recipe_form.description }}
      </div>
      
      <div class="">
        {{ recipe_form.guest.label }}
        {{ recipe_form.guest }}
      </div>

      <div class="">
        {{ recipe_form.prep_time.label }}
        {{ recipe_form.prep_time }}
      </div>

      <div class="">
        {{ recipe_form.cook_time.label }}
        {{ recipe_form.cook_time }}
      </div>

      <div class="">
        {{ recipe_form.source.label }}
        {{ recipe_form.source }}
      </div>


      <p>&nbsp;</p>
      <p>Ingrédients</p>

<p>&nbsp;</p>

  <div class="m-4 p-4 border border-6 border-gray-500 ingredients-container" id="ingredient_form">

    {{ ingredient_formset.management_form }}

    <fieldset disabled class="empty-form" style="display: none">
      <fieldset>
        <div class="flex">

          <div class="p-2 gap-2"> {{ ingredient_formset.empty_form.name.label }} {{ ingredient_formset.empty_form.name }} </div>
          <div class="p-2 gap-2"> {{ ingredient_formset.empty_form.quantity.label }} {{ ingredient_formset.empty_form.quantity }} </div>
          <div class="p-2 gap-2"> {{ ingredient_formset.empty_form.measure.label }} {{ ingredient_formset.empty_form.measure }} </div>
        
          <div class="flex">
            <button type="button" data-formset-remove-form>DELETE</button>
          </div>
        
        </div>

      </fieldset>
    </fieldset>

    <fieldset class="forms">
      <fieldset>
        {% for ingredient_set in ingredient_formset %}
          <div class="flex">
            <div class="p-2 gap-2"> {{ ingredient_set.name.label }} {{ ingredient_set.name }} </div>
            <div class="p-2 gap-2"> {{ ingredient_set.quantity.label }} {{ ingredient_set.quantity }} </div>
            <div class="p-2 gap-2"> {{ ingredient_set.measure.label }} {{ ingredient_set.measure }} </div>
          </div>
        {% endfor %}
      </fieldset>
    </fieldset>

    <fieldset class="controls inline-block text-sm text-white px-4 py-2 leading-none border border-gray-700 bg-gray-700 hover:bg-white hover:text-black mt-4 lg:mt-0 uppercase shadow rounded">
      <button type="button" data-formset-add-form>Add new form</button>
    </fieldset>

  </div>



  <p>&nbsp;</p>
  <p>Instruction</p>

  <div class="m-4 p-4 border border-6 border-gray-500 instruction-container" id="instruction_form">

    {{ instruction_formset.management_form }}

    <fieldset disabled class="empty-form" style="display: none">
      <fieldset>
        <div class="flex">

          <div class="p-2 gap-2"> {{ instruction_formset.empty_form.step.label }} {{ instruction_formset.empty_form.step }} </div>
          <div class="p-2 gap-2"> {{ instruction_formset.empty_form.instruction.label }} {{ instruction_formset.empty_form.instruction }} </div>
        
          <div class="flex">
            <button type="button" data-formset-remove-form>DELETE</button>
          </div>
        
        </div>

      </fieldset>
    </fieldset>

    <fieldset class="forms">
      <fieldset>
        {% for instruction_set in instruction_formset %}
          <div class="flex">
            <div class="p-2 gap-2"> {{ instruction_set.step.label }} {{ instruction_set.step }} </div>
            <div class="p-2 gap-2"> {{ instruction_set.instruction.label }} {{ instruction_set.instruction }} </div>
          </div>
        {% endfor %}
      </fieldset>
    </fieldset>

    <fieldset class="controls inline-block text-sm text-white px-4 py-2 leading-none border border-gray-700 bg-gray-700 hover:bg-white hover:text-black mt-4 lg:mt-0 uppercase shadow rounded">
      <button type="button" data-formset-add-form>Add new form</button>
    </fieldset>

  </div>


  <p>&nbsp;</p>
  <p>Tags</p>

  <div class="m-4 p-4 border border-6 border-gray-500 tag-container" id="tag_form">

    {{ tag_formset.management_form }}

    <fieldset disabled class="empty-form" style="display: none">
      <fieldset>
        <div class="flex">

          <div class="p-2 gap-2"> {{ tag_formset.empty_form.tagtype.label }} {{ tag_formset.empty_form.tagtype }} </div>
          <div class="p-2 gap-2"> {{ tag_formset.empty_form.name.label }} {{ tag_formset.empty_form.name }} </div>
        
          <div class="flex">
            <button type="button" data-formset-remove-form>DELETE</button>
          </div>
        
        </div>

      </fieldset>
    </fieldset>

    <fieldset class="forms">
      <fieldset>
        {% for tag_set in tag_formset %}
          <div class="flex">
            <div class="p-2 gap-2"> {{ tag_set.tagtype.label }} {{ tag_set.tagtype }} </div>
            <div class="p-2 gap-2"> {{ tag_set.name.label }} {{ tag_set.name }} </div>
          </div>
        {% endfor %}
      </fieldset>
    </fieldset>

    <fieldset class="controls inline-block text-sm text-white px-4 py-2 leading-none border border-gray-700 bg-gray-700 hover:bg-white hover:text-black mt-4 lg:mt-0 uppercase shadow rounded">
      <button type="button" data-formset-add-form>Add new form</button>
    </fieldset>

  </div>


    <div class="">
      <button class="" type="submit">Envoyer</button>
    </div>
  </form>

</div>

<!-- 

 -->

<script>

  function Formset(element) {
  /* 
      Dynamic Formset handler for Django formsets.
  
  Events:
  
    * init.formset
    * add-form.formset
    * remove-form.formset
    * renumber-form.formset
    
  */
  if (!(this instanceof Formset)) {
    return new Formset(element);
  }
  var formset = this;
  var emptyForm = element.querySelector('.empty-form').firstElementChild;
  var formsList = element.querySelector('.forms');

  var initialForms = element.querySelector('[name$=INITIAL_FORMS]');
  var totalForms = element.querySelector('[name$=TOTAL_FORMS]');
  var prefix = initialForms.name.replace(/INITIAL_FORMS$/, '');

  function addForm(event) {
    // Duplicate empty form.
    var newForm = emptyForm.cloneNode(true);
    // Update all references to __prefix__ in the elements names.
    renumberForm(newForm, '__prefix__', totalForms.value);
    // Make it able to delete itself.
    newForm.querySelector('[data-formset-remove-form]').addEventListener('click', removeForm);
    // Append the new form to the formsList.
    formsList.insertAdjacentElement('beforeend', newForm);
    element.dispatchEvent(new CustomEvent('add-form.formset', {
      detail: {
        form: newForm,
        formset: formset
      }
    }));
    // Update the totalForms.value
    totalForms.value = Number(totalForms.value) + 1;
  }

  function getForm(target) {
    var parent = target.parentElement;
    if (parent == document) {
      return null;
    }
    if (parent == formsList) {
      return target;
    }
    return getForm(parent);
  }

  function renumberForm(form, oldValue, newValue) {
    var matchValue = prefix + oldValue.toString()
    var match = new RegExp(matchValue);
    var replace = prefix + newValue.toString();

    ['name', 'id', 'for'].forEach(function(attr) {
      form.querySelectorAll('[' + attr + '*=' + matchValue + ']').forEach(function(el) {
        el.setAttribute(attr, el.getAttribute(attr).replace(match, replace));
      });
    });

    element.dispatchEvent(new CustomEvent('renumber-form.formset', {
      detail: {
        form: form,
        oldValue: oldValue,
        newValue: newValue,
        formset: formset
      }
    }));
  }

  function removeForm(event) {
    // Find the form "row": the child of formsList that is the parent of the element
    // that triggered this event.
    var formToRemove = getForm(event.target);
    // Renumber the rows that come after us.
    var nextElement = formToRemove.nextElementSibling;
    var nextElementIndex = Array.prototype.indexOf.call(formsList.children, formToRemove);
    while (nextElement) {
      renumberForm(nextElement, nextElementIndex + 1, nextElementIndex);
      nextElement = nextElement.nextElementSibling;
      nextElementIndex = nextElementIndex + 1;
    }
    // Remove this row.
    formToRemove.remove();
    element.dispatchEvent(new CustomEvent('remove-form.formset', {
      detail: {
        form: formToRemove,
        formset: formset
      }
    }));
    // Decrement the management form's count.
    totalForms.value = Number(totalForms.value) - 1;
  }

  element.querySelector('[data-formset-add-form]').addEventListener('click', addForm);
  element.formset = this;

  element.dispatchEvent(new CustomEvent('init.formset', {
    detail: {
      formset: this
    }
  }));

  this.addForm = addForm;
}

new Formset(document.querySelector('#ingredient_form'));
new Formset(document.querySelector('#instruction_form'));
new Formset(document.querySelector('#tag_form'));

</script>


{% endblock content %}
