{% extends 'core/_base.html' %}{% load static %}

{% block title %}My CookBook - Créer une Recette{% endblock title %}

{% block content %}
<div class="mx-auto grid-cols-12 w-full mb-10 lg:max-w-screen-lg">

  <h1>Creation</h1>

      <form method="post" action="{% url 'recipe_create' %}">
      {% csrf_token %}

      <p>Recette</p>

      <div class="">
        {{ recipe_form.title.label }}
        {{ recipe_form.title }}
      </div>

      <div class="">
        {{ recipe_form.description.label }}
        {{ recipe_form.description }}
      </div>
      
      <div class="">
        {{ recipe_form.guest.label }}
        {{ recipe_form.guest }}
      </div>

      <div class="">
        {{ recipe_form.prep_time.label }}
        {{ recipe_form.prep_time }}
      </div>

      <div class="">
        {{ recipe_form.cook_time.label }}
        {{ recipe_form.cook_time }}
      </div>

      <div class="">
        {{ recipe_form.source.label }}
        {{ recipe_form.source }}
      </div>


      <p>&nbsp;</p>
      <p>Ingrédients</p>



<p>&nbsp;</p>

      {{ ingredient_formset.management_form }}
      {% for ingredient_set in ingredient_formset %}
        <div class="flex flex-rows m-4 p-5 border border-6 border-gray-500">

              <div class="flex p-5 gap-2">
                {{ ingredient_set.name.label }} {{ ingredient_set.name }} 
              </div>

              <div class="flex p-5 gap-2">
                {{ ingredient_set.quantity.label }} {{ ingredient_set.quantity }} 
              </div>

              <div class="flex p-5 gap-2">
                {{ ingredient_set.measure.label }} {{ ingredient_set.measure }} 
              </div>

        </div>
      {% endfor %}



      <div class="">
        <button class="" type="submit">Envoyer</button>
      </div>
    </form>

</div>

{% endblock content %}
