{% extends 'core/_base.html' %}{% load static %}

{% block title %}My CookBook - Créer une Recette{% endblock title %}

{% block content %}
<div class="mx-auto grid-cols-12 w-full mb-10 lg:max-w-screen-lg">

  <h1>Creation</h1>

      <form method="post" action="{% url 'recipe_create' %}">
      {% csrf_token %}

      <p>Recette</p>

      <div class="">
        {{ recipe_form.title.label }}
        {{ recipe_form.title }}
      </div>

      <div class="">
        {{ recipe_form.description.label }}
        {{ recipe_form.description }}
      </div>
      
      <div class="">
        {{ recipe_form.guest.label }}
        {{ recipe_form.guest }}
      </div>

      <div class="">
        {{ recipe_form.prep_time.label }}
        {{ recipe_form.prep_time }}
      </div>

      <div class="">
        {{ recipe_form.cook_time.label }}
        {{ recipe_form.cook_time }}
      </div>

      <div class="">
        {{ recipe_form.source.label }}
        {{ recipe_form.source }}
      </div>


      <p>&nbsp;</p>
      <p>Ingrédients</p>



<p>&nbsp;</p>

<!-- <input type="hidden" name="form-TOTAL_FORMS" value="6" id="id_form-TOTAL_FORMS">
<input type="hidden" name="form-INITIAL_FORMS" value="3" id="id_form-INITIAL_FORMS">
<input type="hidden" name="form-MIN_NUM_FORMS" value="0" id="id_form-MIN_NUM_FORMS">
<input type="hidden" name="form-MAX_NUM_FORMS" value="1000" id="id_form-MAX_NUM_FORMS"> -->

      <!-- <div class="">
        {{ ingredient_formset.as_p }}
      </div> -->

{% for ingredient in ingredient_formset %}
      {{ ingredient.name }}
{% endfor %}



      <div class="">
        <button class="" type="submit">Envoyer</button>
      </div>
    </form>

</div>
{% endblock content %}

