{% extends 'core/_base.html' %}{% load static %}

{% block title %}My CookBook - {% endblock title %}

{% block content %}
<div class="mx-auto grid-cols-12 w-full mb-10 lg:max-w-screen-lg">

  <h1>{{ recipe.title }}</h1>



 {{ recipe.description }}

 {{ infos.creator }}

{% for instruction in instructions %}
  {{ instruction.step }} {{ instruction.instruction }} <br>
{% endfor %}


{% for ingredient in ingredients %}
  {{ ingredient.quantity }} {{ ingredient.measure }} {{ ingredient.name }}<br>
{% endfor %}

{% for tag in tags %}
  {{ tag.type }} {{ tag.name }}
{% endfor %}


  <p><a href="{% url 'recipe_create' %}">Créer une recette</a></p>

</div>
{% endblock content %}
